{% extends 'base.html.twig' %}

{% block title %}Page introuvable - My French Boutique
{% endblock %}

{% block content %}
	<div class="block-small">
		<h2><strong>Page introuvable</strong></h2>
		<p>Désoler, cette page ne semble pas être accessible pour le moment.</p>
		<a href="{{ path('app_home') }}" class="btn btn-info">Revenir a l'accueil</a>
	</div>
{% endblock %}
